.container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  /* gap: 100px; */
  height: 130vh; 
  margin: 0 auto;
  padding: 0 60px; 
  
}
.item{
  display: flex;
  flex-direction: column;
  gap:50px;
}
.disp{
  display: flex;
  flex-direction: column;
  
}
.title{
  font-size: 102px;
  align-items: center;
  background:linear-gradient(to bottom, #53c28b, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc{
  font-size: 68px;
  font-weight: 300;
  font-family: Anydore;
}
.verse{
  display: flex;
  font-size:14px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  
}
.content{
  font-size: 22px;
  width: 60%;
  margin: auto;
  text-align: justify;
}
.img{
  width:100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
  -webkit-animation: move 3s infinite ease alternate;
}
@keyframes move{
    from{
        transform:translateY(-15px);
        -webkit-transform:translateY(-15px);
        -moz-transform:translateY(-15px);
        -ms-transform:translateY(-15px);
        -o-transform:translateY(-15px);
}
    to{
        transform:translateY(0px) scale(1.1);
        -webkit-transform:translateY(0px) scale(1.1);
        -moz-transform:translateY(0px) scale(1.1);
        -ms-transform:translateY(0px) scale(1.1);
        -o-transform:translateY(0px) scale(1.1);
}}
