.container{
    margin: auto;
    padding: 10px 20px;
    display: flex;
    background: #9d9c9c;
    align-items:center;
    font-size: 13px;
    justify-content:space-between;
}
.social{
    margin-left: 0.8rem;
    display: flex;
    gap: 20px;
    align-items: center;
}
.icon{
    opacity: 0.8;
    cursor: pointer;
}
.footer{
    font-size: 32px;
    padding-bottom: 12px;
    font-weight: 600;
}
.foot{
    display: flex;
    gap: 0.8rem;
    margin-bottom:1.3rem ;
    width: 42%;
    font-size: 16px;  
    align-items: center;
}
.copyright{
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}