.container{
  
    margin: auto;
    padding: 10px 20px;
    display: flex;
    background: #bbb;
    align-items:center;
    font-size: 13px;
    justify-content:space-between;
   
}
.social{
    display: flex;
    gap: 20px;
    align-items: center;
}
.icon{
    opacity: 0.8;
    cursor: pointer;
}
.footer{
font-size: 24px;
padding: 10px 0px;
}
.foot{
    margin-bottom:1.5rem ;
    width: 42%;
    font-size: 17px;  
}
.copyright{
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}